{% extends "common/base.html" %}

{% block head %}
<title>О сайте - Scrubbly</title>
{% endblock %}


{% block content %}
<div id="content">
    <div id="about-about" class="container">
	  	<h1>Находите удивительные вещи, собирайте то, что вы любите, покупайте все это в одном месте.</h1>

	  	<div class="video">
	  		<div class="videoWrapper">
	  			<iframe width="560" height="320" src="//www.youtube.com/v/EUJ294S7goI&rel=0" frameborder="0" allowfullscreen></iframe>	
	  		</div>
	  	</div>

	  	<div class="state-block">
			<h2>Сохраняйте любимые вещи</h2>
			<p>Каждый день сотни тысяч людей совершают онлайн покупки, посещая огромное количество интернет магазинов. Мы привыкли проводить несколько часов за выбором нужной вещи, открывая один сайт за другим. Очень часто мы хотим вернуться к излюбленному товару, но забываем, где его видели.</p>
		</div>

		<div class="img-about-products">
			<img src="/static/site/i/about-products.jpg" >
		</div>

		<div class="state-block">
			<h2>Находите еще больше интересного</h2>
			<p>Scrubbly объединил все ваши любимые магазины в одном месте, значительно облегчив процесс онлайн-шоппинга. Мы предлагаем огромный выбор магазинов, которые содержат вещи как крупных известных брендов, так и маленьких уникальных бутиков, о которых вы никогда не слышали.</p>
		</div>	

		<div class="stats">
			<div class="num">
				<div class="value">500</div>
				<div class="label">Магазинов</div>
			</div>

			<div class="num">
				<div class="value">50K</div>
				<div class="label">Брендов</div>
			</div>

			<div class="num">
				<div class="value">4M</div>
				<div class="label">Вещей</div>
			</div>

			<div class="num">
				<div class="value">20K</div>
				<div class="label">Пользователей</div>
			</div>

		</div>


		<div class="state-block">
			<h2>Присоединяйтесь к сообществу</h2>
			<p>Ежедневно пользователи Scrubbly добавляют товары на сайт, делятся своими находками с друзьями и совершают покупки. Наш сервис позволяет добавить любую вещь в свою ленту, подписаться на обновления любимых интернет магазинов, а также открыть для себя новые. Вы можете следить за тем, где одеваются трендсеттеры и ваши друзья, формируя собственный стиль.</p>
		</div>

		<a href="/signup" class="btn btn-signup">Присоединиться сейчас</a>

    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}