<!DOCTYPE html>
<html>
<head>
<title>Artsvit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/bjqs.css">
<link rel="shortcut icon" href="css/img/favicon.png" type="image/png">
<link rel="stylesheet" href="css/liMarquee.css">
<link rel="stylesheet"  href="css/jquery.mCustomScrollbar.css" >

<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/bjqs-1.3.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script> 
$(function(){
  $("#header").load("common/header.html");
  $("#footer").load("common/footer.html");
});
</script>

</head>
<body id="artist">
	<div id="wrap">
		<div id="header"></div>
		<div id="content">
			<div class="container">
				<ul class="search-navs">
		      		<li class="special"><a href="#" class="active">биография</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">выставки</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">публикации</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">каталоги</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">все художники</a></li>
		      	</ul>
		      	<div id="artist-wrapper">
		      		<div class="artist-meta">
		      			<img class="artist" src="css/img/artist.png">
		      			<div class="artist-name">
			      			ЕВГЕHИЙ ПЕТРОВ
			      		</div>
			      		<div class="artist-submeta">
  							Род. 1936
			      		</div>
		      			<div class="description">
		      				<!-- Добавить разкрытие-->
		      				Галерея АРТСВiТ презенту новий напрямок своія льност – серію видань Ху дожня географія», щмана мет популяризацію українського мистецтва.<br>
		      				
		      			</div>
		      		</div>
		      		<div class="painting">
		      			<img class="main-image" src="css/img/slider-example.png">
		      			             <div class="description">На пляже, х.м. 2011</div>
		      		</div>
		      		<div class="home-aside">
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      			<div class="painting-item">
		      				<img src="css/img/painting-item.png">
		      				<div class="painting-meta">
		      					Сбор урожая
								х.м. 2011
		      				</div>
		      			</div>
		      		</div>
		      	</div>
			</div>
		</div>
		<div id="footer"></div>
		
	</div>
	
	<script>
			(function($){
				$(window).load(function(){
					$(".home-aside, #wrap").mCustomScrollbar({
						theme:"dark"
					});
					
				});
			})(jQuery);
		</script>
	<div id="preloader" class="preloader"></div>
	

	
</body>
</html>