<!DOCTYPE html>
<html>
<head>
<title>Artsvit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">

<link rel="shortcut icon" href="css/img/favicon.png" type="image/png">

<link rel="stylesheet"  href="css/jquery.mCustomScrollbar.css" >

<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

<script> 
$(function(){
  $("#header").load("common/header.html");
  $("#footer").load("common/footer.html");
});
</script>

</head>
<body id="collection">
	<div id="wrap">
		<div id="header"></div>
		<div id="content">
			<div class="container">
				<ul class="search-navs">
		      		<li><a href="#">А</a></li>
		      		<li><a href="#">Б</a></li>
		      		<li><a href="#">В</a></li>
		      		<li><a href="#">Г</a></li>
		      		<li><a href="#">Д</a></li>
		      		<li><a href="#">Е</a></li>
		      		<li><a href="#">Ж</a></li>
		      		<li><a href="#">З</a></li>
		      		<li><a href="#">И</a></li>
		      		<li><a href="#">К</a></li>
		      		<li><a href="#">Л</a></li>
		      		<li><a href="#">М</a></li>
		      		<li><a href="#">Н</a></li>
		      		<li><a href="#">О</a></li>
		      		<li><a href="#">П</a></li>
		      		<li><a href="#">Р</a></li>
		      		<li><a href="#">С</a></li>
		      		<li><a href="#">Т</a></li>
		      		<li><a href="#">У</a></li>
		      		<li><a href="#">Ф</a></li>
		      		<li><a href="#">Х</a></li>
		      		<li><a href="#">Ц</a></li>
		      		<li><a href="#">Ч</a></li>
		      		<li><a href="#">Ш</a></li>
		      		<li><a href="#">Щ</a></li>
		      		<li><a href="#">Э</a></li>
		      		<li><a href="#">Ю</a></li>
		      		<li><a href="#">Я</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">все стили</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">все периоды</a></li>
		      		<span>|</span>
		      		<li class="special"><a href="#">все работы</a></li>
		      	</ul>
		      	<div class="collections-wrapper" id="collections-wrapper">
		      		
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      		<a href="#" class="collection-item">
		      			<img src="css/img/preview1.png">
		      			<div class="title">Абдуллаев Виктор</div>
		      		</a>
		      	</div>
			</div>
		</div>
		<script>
			(function($){
				$(window).load(function(){
					$("#wrap").mCustomScrollbar({
					theme:"dark",
					callbacks:{
						onTotalScroll:function(){ 
							
					      	$('#collections-wrapper').append('<a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></a><a href="#" class="collection-item"><img src="css/img/preview1.png"><div class="title">Абдуллаев Виктор</div></div>');
					      	$( ".collection-item" ).css({ top: 0 });
					      	$( ".collection-item" ).animate({ opacity:1}, 1000);
						 },
						onTotalScrollOffset:100,
						alwaysTriggerOffsets:false
					}
				})});
				
			})(jQuery);

		</script>
		
		</div>
		

	</div>
	<div id="preloader" class="preloader"></div>
	

	
</body>
</html>