<!DOCTYPE html>
<html>
<head>
<title>Artsvit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">

<link rel="shortcut icon" href="css/img/favicon.png" type="image/png">

<link rel="stylesheet"  href="css/jquery.mCustomScrollbar.css" >

<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

<script> 
$(function(){
  $("#header").load("common/header.html");
  $("#footer").load("common/footer.html");
});
</script>

</head>
<body id="news-page">
	<div id="wrap">
		<div id="header"></div>
		<div id="content">
			<div class="container">
				
		      	<div class="news-wrapper" id="collections-wrapper">
		      		<div class="item-news">
		      			<div class="meta">
			      			<div class="date">23 сент - 30 окт 2014</div>
			      			<div class="name">ЕВГЕHИЙ ПЕТРОВ</div>
			      			<div class="submeta">Выставка “Напряжение”</div>
			      			<div class="tags">живопись, скульптура</div>
			      		</div>
			      		<div class="description">
			      			<div class="text">Галерея АРТСВiТ презенту новий напрямок своіяльност – серію видань Художня географія», що мана мет популяризацію українського мистецтва. Назву проекту ми обрали не випадково. Адже саме географію часто називають романтичною наукою і тлумачать не лише як «землеопис» чи «нотатки про Землю». Завдяки їй кожен з нас має можливість здійснювати уявні подорожі різними куточками планети. Тому «Художня географія» – це мандрівка мистецьким світом. Команда АРТСВІТ має на меті створити серію видань, що будуть представлені загалу у вигляді книг, присвячених як мистецьким жанрам напрямкам, так і окремим персоналіям. Перш за 
			      			</div>
			      			<a href="#" class="moar">больше...</a>
			      		</div>
			      		<div class="img-wrap">
			      			<img class="main-image" src="css/img/slider-example.png">
			      		</div>
		      		</div>
		      		<div class="item-news">
		      			<div class="meta">
			      			<div class="date">23 сент - 30 окт 2014</div>
			      			<div class="name">ЕВГЕHИЙ ПЕТРОВ</div>
			      			<div class="submeta">Выставка “Напряжение”</div>
			      			<div class="tags">живопись, скульптура</div>
			      		</div>
			      		<div class="description">
			      			<div class="text">Галерея АРТСВiТ презенту новий напрямок своіяльност – серію видань Художня географія», що мана мет популяризацію українського мистецтва. Назву проекту ми обрали не випадково. Адже саме географію часто називають романтичною наукою і тлумачать не лише як «землеопис» чи «нотатки про Землю». Завдяки їй кожен з нас має можливість здійснювати уявні подорожі різними куточками планети. Тому «Художня географія» – це мандрівка мистецьким світом. Команда АРТСВІТ має на меті створити серію видань, що будуть представлені загалу у вигляді книг, присвячених як мистецьким жанрам напрямкам, так і окремим персоналіям. Перш за 
			      			</div>
			      			<a href="#" class="moar">больше...</a>
			      		</div>
			      		<div class="img-wrap">
			      			<img class="main-image" src="css/img/slider-example.png">
			      		</div>
		      		</div>
		      		<div class="item-news">
		      			<div class="meta">
			      			<div class="date">23 сент - 30 окт 2014</div>
			      			<div class="name">ЕВГЕHИЙ ПЕТРОВ</div>
			      			<div class="submeta">Выставка “Напряжение”</div>
			      			<div class="tags">живопись, скульптура</div>
			      		</div>
			      		<div class="description">
			      			<div class="text">Галерея АРТСВiТ презенту новий напрямок своіяльност – серію видань Художня географія», що мана мет популяризацію українського мистецтва. Назву проекту ми обрали не випадково. Адже саме географію часто називають романтичною наукою і тлумачать не лише як «землеопис» чи «нотатки про Землю». Завдяки їй кожен з нас має можливість здійснювати уявні подорожі різними куточками планети. Тому «Художня географія» – це мандрівка мистецьким світом. Команда АРТСВІТ має на меті створити серію видань, що будуть представлені загалу у вигляді книг, присвячених як мистецьким жанрам напрямкам, так і окремим персоналіям. Перш за 
			      			</div>
			      			<a href="#" class="moar">больше...</a>
			      		</div>
			      		<div class="img-wrap">
			      			<img class="main-image" src="css/img/slider-example.png">
			      		</div>
		      		</div>
		      		<div class="item-news">
		      			<div class="meta">
			      			<div class="date">23 сент - 30 окт 2014</div>
			      			<div class="name">ЕВГЕHИЙ ПЕТРОВ</div>
			      			<div class="submeta">Выставка “Напряжение”</div>
			      			<div class="tags">живопись, скульптура</div>
			      		</div>
			      		<div class="description">
			      			<div class="text">Галерея АРТСВiТ презенту новий напрямок своіяльност – серію видань Художня географія», що мана мет популяризацію українського мистецтва. Назву проекту ми обрали не випадково. Адже саме географію часто називають романтичною наукою і тлумачать не лише як «землеопис» чи «нотатки про Землю». Завдяки їй кожен з нас має можливість здійснювати уявні подорожі різними куточками планети. Тому «Художня географія» – це мандрівка мистецьким світом. Команда АРТСВІТ має на меті створити серію видань, що будуть представлені загалу у вигляді книг, присвячених як мистецьким жанрам напрямкам, так і окремим персоналіям. Перш за 
			      			</div>
			      			<a href="#" class="moar">больше...</a>
			      		</div>
			      		<div class="img-wrap">
			      			<img class="main-image" src="css/img/slider-example.png">
			      		</div>
		      		</div>
		      		<div class="item-news">
		      			<div class="meta">
			      			<div class="date">23 сент - 30 окт 2014</div>
			      			<div class="name">ЕВГЕHИЙ ПЕТРОВ</div>
			      			<div class="submeta">Выставка “Напряжение”</div>
			      			<div class="tags">живопись, скульптура</div>
			      		</div>
			      		<div class="description">
			      			<div class="text">Галерея АРТСВiТ презенту новий напрямок своіяльност – серію видань Художня географія», що мана мет популяризацію українського мистецтва. Назву проекту ми обрали не випадково. Адже саме географію часто називають романтичною наукою і тлумачать не лише як «землеопис» чи «нотатки про Землю». Завдяки їй кожен з нас має можливість здійснювати уявні подорожі різними куточками планети. Тому «Художня географія» – це мандрівка мистецьким світом. Команда АРТСВІТ має на меті створити серію видань, що будуть представлені загалу у вигляді книг, присвячених як мистецьким жанрам напрямкам, так і окремим персоналіям. Перш за 
			      			</div>
			      			<a href="#" class="moar">больше...</a>
			      		</div>
			      		<div class="img-wrap">
			      			<img class="main-image" src="css/img/slider-example.png">
			      		</div>
		      		</div>
		      		<div class="item-news">
		      			<div class="meta">
			      			<div class="date">23 сент - 30 окт 2014</div>
			      			<div class="name">ЕВГЕHИЙ ПЕТРОВ</div>
			      			<div class="submeta">Выставка “Напряжение”</div>
			      			<div class="tags">живопись, скульптура</div>
			      		</div>
			      		<div class="description">
			      			<div class="text">Галерея АРТСВiТ презенту новий напрямок своіяльност – серію видань Художня географія», що мана мет популяризацію українського мистецтва. Назву проекту ми обрали не випадково. Адже саме географію часто називають романтичною наукою і тлумачать не лише як «землеопис» чи «нотатки про Землю». Завдяки їй кожен з нас має можливість здійснювати уявні подорожі різними куточками планети. Тому «Художня географія» – це мандрівка мистецьким світом. Команда АРТСВІТ має на меті створити серію видань, що будуть представлені загалу у вигляді книг, присвячених як мистецьким жанрам напрямкам, так і окремим персоналіям. Перш за 
			      			</div>
			      			<a href="#" class="moar">больше...</a>
			      		</div>
			      		<div class="img-wrap">
			      			<img class="main-image" src="css/img/slider-example.png">
			      		</div>
		      		</div>
		      	</div>
		      	<ul class="search-navs">
		      		<li><a href="#">1</a></li>
		      		<li><a href="#">2</a></li>
		      		<li><a href="#">3</a></li>
		      		<li><a href="#">4</a></li>
		      		<li><a href="#">5</a></li>
		      		<li><a href="#">6</a></li>
		      		<li><a href="#">7</a></li>
		      		<li><a href="#">8</a></li>
		      		<li><a href="#">9</a></li>
		      		<li><a href="#">10</a></li>
		      		<li><a href="#">>></a></li>
		      		<li><a href="#">55</a></li>
		      		
		      	</ul>
			</div>
		</div>
		<div id="footer"></div>
		<script>
			(function($){
				$(window).load(function(){
					$(".news-wrapper, #wrap").mCustomScrollbar({
						theme:"dark"
					});
					
				});
			})(jQuery);
		</script>
		
		</div>
		

	</div>
	<div id="preloader" class="preloader"></div>
	

	
</body>
</html>