@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-backspace1:before {
	content: "\e000";
}
.flaticon-barcode10:before {
	content: "\e001";
}
.flaticon-check33:before {
	content: "\e002";
}
.flaticon-creditcard3:before {
	content: "\e003";
}
.flaticon-delivery23:before {
	content: "\e004";
}
.flaticon-facebook42:before {
	content: "\e005";
}
.flaticon-giftbox56:before {
	content: "\e006";
}
.flaticon-google105:before {
	content: "\e007";
}
.flaticon-hospital25:before {
	content: "\e008";
}
.flaticon-instagram12:before {
	content: "\e009";
}
.flaticon-little18:before {
	content: "\e00a";
}
.flaticon-logo4:before {
	content: "\e00b";
}
.flaticon-notifications:before {
	content: "\e00c";
}
.flaticon-painter14:before {
	content: "\e00d";
}
.flaticon-ruler17:before {
	content: "\e00e";
}
.flaticon-social38:before {
	content: "\e00f";
}
.flaticon-speech18:before {
	content: "\e010";
}
.flaticon-vkontakte:before {
	content: "\e011";
}
