/_temp
/u
/sitemap
/config.php
/cron/config.php
/cron/.htaccess
/.htaccess

.idea


*.py[cod]

# C extensions
*.so
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

fabricrc

kap_trotsky/config.php
selo_metkiy/config.php


*.sublime-workspace
*.sublime-project


