<div id="popup-signup" class="popup popup-auth">
    <div class="cover-nohide"></div>
    <div class="popup-content reg-content" >
        <h2>Регистрация</h2>
        <div class="signin-btns">
            <a href="/login/vk"  class="btn-signup-vk btn-vk btn-signup btn" data-provider="vk"><i class="flaticon-vkontakte"></i> Войти через Вконтакте</a>
            
        </div> 
        <div class="separator">или</div>
        <form id="popup-signup-form" class="form">
        		<div class="btns-group">
	                <div class="wrapper">
	                    <input name="name" class="input-name" type="text" placeholder="Имя" maxlength="50">
	                </div>

	                <div class="wrapper">
	                    <input name="username" class="input-username" type="text" placeholder="Имя пользователя" maxlength="30">
	                </div>

	                <div class="wrapper">
	                    <input name="email" class="input-email"  type="email" placeholder="Электронная почта">
	                </div>    

	                <div class="wrapper">
	                    <input name="password" class="input-password"  autocomplete="off" type="password" placeholder="Пароль">
	                </div>

	                <div class="wrapper">
	                    <label><input type="radio" name="sex" value="1" checked> Женщина</label>
	                    <label><input type="radio" name="sex" value="2" > Мужчина</label>
	                </div>    
	            </div>
                <div class="error">error</div>
                
                <div class="wrapper">
                    <button class="btn btn-submit">Создать аккаунт</button>
                </div>    
                <a class='to-login'>Вход</a>
            </form>

        {#<div class="caption">Регистрация позволит вам сохранять понравившиеся вещи, следить за новинками из любимых магазинов, подписаться на обновления друзей и сохранять вещи с любых интернет магазинов.</div> 
        #}
    </div>

</div>