<div id="popup-signin" class="popup popup-auth">
    <div class="cover"></div>
    <div class="popup-content" >
        <h2>Вход</h2>
        <div class="signin-btns">
            <a href="/login/vk"  class="btn-signin-vk btn-vk btn-signin btn"><i class="flaticon-vkontakte"></i> Войти через Вконтакте</a>
            
        </div>
        <div class="separator">или</div>   
        <form id="popup-signin-form" class="form">
        		<div class="btns-group">
	                

	                <div class="wrapper">
	                    <input name="email" class="input-email"  type="email" placeholder="Электронная почта">
	                </div>    

	                <div class="wrapper">
	                    <input name="password" class="input-password"  autocomplete="off" type="password" placeholder="Пароль">
	                </div>

	            </div>
                <div class="error">error</div>
                
                <div class="wrapper">
                    <button class="btn btn-submit">Войти</button>
                </div>    

                <a class='to-reg'>Регистрация</a>
            </form>
         
    </div>

</div>