<!DOCTYPE html>
<html>
<head>
<title>404 | Scrubbly</title>
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/static/site/css/main.css" />
</head>


<body id="body">


<div id="content">
   <div class="container" id="error">
        <h1>404</h1>
        <div class="caption">К сожалению, запрашиваемая Вами страница не найдена. 
Вы можете найти интересующую Вас страницу, пройдя по ссылкам от <a href="">главной страницы сайта</a>, а также воспользовавшись поиском.</div>
   </div>
</div>  
</body>
</html>