#invite{ }
  
  #invite .share-bar{ width: 100%; padding: 20px 2%; float: left; background-color: #fff; margin-bottom: 20px; }
  	#invite .share-bar  h2{  font-size: 2.4em; margin: 0px 0 20px; color: #444; font-weight: bold;}

  	#invite .share-bar h4{ font-size: 1.4em; color: #444; width: 100%; float: left; font-weight: bold; margin-bottom: 10px;}
  	#invite .share-bar .tip{ width: 100%; font-size: 1.2em; color: #888; float: left; margin-top: 5px;}

  	#invite .share-bar .link{ width: 30%; float: left;}
  		#invite .share-bar .link .invite-link{ background-color: #fafafa; padding:10px 5%; height: 20px; width: 90%; float: left; font-size: 1.4em; font-weight: bold; }

  	#invite .share-bar .social-btns{ width: 60%; float: right;}
  		#invite .share-bar .social-btns .btn{ line-height: 40px; width: 120px; margin-right: 5px; font-size: 1.3em; font-weight: bold; color: #fff;}

  #invite .page-block-stat .data{ }
  #invite .stat-numbers{width: 92%; margin: 40px 4% 20px; height: 80px; float: left; }
    #invite .stat-numbers .info{ width: 26%; margin-right: 14%; float: left; font-size: 1.2em; color: #888;}
    #invite .stat-numbers .number{ width: 15%;  float: left; text-align: center; }
      #invite .stat-numbers .number .amount{ font-size: 3em; width: 100%; font-weight: bold; float: left;}
      #invite .stat-numbers .number .caption{ font-size: 1.2em; color: #888;}
  #invite-chart{margin:40px auto; display: block;}